<section>
  <div class="p-40-gutters ">
    <div class="d-lg-flex-row flex-justify-space-between flex-lg-align-items-center">
      <p class="fs-32 lh-125 col-lg-6">{{ 'hae.about.main' | t }}</p>

      <div class="mt-16 mt-lg-0">
        <a class="button-pill button-blue mr-12" href="/pages/about">More about Hae</a>
        <a class="button-pill button-blue" href="/pages/why-hae">Why Hae</a>
      </div>
    </div>
  </div>
</section>
