




/*------------------------------------*\
    #Loading Spinner
\*------------------------------------*/

.loading-spinner {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 104%;
  background: #6a0b0bcc;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: all var(--duration-default) var(--default-easing);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner:not(.hidden) {
  pointer-events: all;
  opacity: 1;
}

.spinner {
  animation: rotator 1.4s linear infinite;
  width: 1.5rem;
  height: 1.5rem;
  color: red;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 280;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: rgb(var(--color-base-text-2));
  animation: dash 1.4s ease-in-out infinite;
}

@media screen and (forced-colors: active) {
  .path {
    stroke: CanvasText;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }
  50% {
    stroke-dashoffset: 75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(450deg);
  }
}

.loading-spinner:not(.hidden) + .cart-item__price-wrapper,
.loading-spinner:not(.hidden) ~ cart-remove-button {
  opacity: 50%;
}

.loading-spinner:not(.hidden) ~ cart-remove-button {
  pointer-events: none;
  cursor: default;
}
