




/*------------------------------------*\
    #Hae Brand About
\*------------------------------------*/

.brand-about__intro__text {
  max-width: 46rem;
}

@media screen and (min-width: 750px) {
  .brand-about__intro__text p:last-child {
    margin-bottom: 0;
  }
}

.brand-about__intro__ctas {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--space-3);
}

@media screen and (min-width: 750px) {
  .brand-about__intro__ctas {
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: var(--space-3);
  }
}

.brand-about__intro__ctas .button {
  margin-bottom: var(--space-5);
}

@media screen and (min-width: 750px) {
  .brand-about__intro__ctas .button {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .brand-about__intro__layout {
    grid-template-columns: 1.5fr 1fr;
  }
}





/*------------------------------------*\
    #Hae Brand About Callouts
\*------------------------------------*/

.brand-about__callout-image-wrapper {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: var(--space-5);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 750px) {
  .brand-about__callout-image-wrapper {
    width: 4rem;
    height: 4rem;
  }
}

.brand-about__callout-image {
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.brand-about__callout__contain {
  padding: var(--padding-main);
  max-width: 38rem;
  margin: auto;
}

.brand-about__callout__content *:last-child {
  margin-bottom: 0;
}

.brand-about__callout-text p:last-child {
  margin-bottom: 0;
}
