.product-form__quantity-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

/*------------------------------------*\
    #Quantity Popover Input
\*------------------------------------*/

.product-form-quantity .quantity {
  border: var(--inputs-border-width) solid rgb(var(--color-base-text-2));
  border-radius: var(--border-radius-main);
}

.quantity {
  color: rgb(var(--color-foreground));
  position: relative;
  display: flex;
  border-radius: var(--inputs-radius);
  gap: var(--space-3);
}

.quantity.product-form_quantity {
  width: auto;
  display: inline-flex;
  height: 2.5rem;
  border-radius: var(--inputs-radius);
}

.quantity__input {
  color: currentColor;
  font-size: var(--headline-size-h5);
  text-align: center;
  background-color: transparent;
  border: 0;
  width: 2.25rem;
  appearance: none;
}

.quantity__button {
  width: 1.5rem;
  flex-shrink: 0;
  font-size: var(--headline-size-h4);
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-text-1));
  padding: 0;
}

.quantity__button:first-child {
  margin-left: var(--inputs-border-width);
}

.quantity__button:last-child {
  margin-right: var(--inputs-border-width);
}

.quantity__button svg {
  width: 0.75rem;
  pointer-events: none;
}

/* Focus states */
.quantity__button:focus-visible,
.quantity__input:focus-visible,
.quantity__button:focus,
.quantity__input:focus {
  z-index: 2;
}

/* Autofill styles */
.quantity__input:-webkit-autofill,
.quantity__input:-webkit-autofill:hover,
.quantity__input:-webkit-autofill:active {
  box-shadow: 0 0 0 10rem rgb(var(--color-background)) inset !important;
}

/* Hide number input spinners */
.quantity__input::-webkit-outer-spin-button,
.quantity__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Rules section */
.quantity__rules {
  position: relative;
  margin-left: var(--space-3);
}

.quantity__rules .caption {
  display: inline-block;
  margin: 0;
}

.quantity__rules .divider + .divider::before {
  content: '\2022';
  margin: 0 var(--space-2);
}

/* Quantity Popover */
quantity-popover {
  display: block;
}

.quantity-popover__info.global-settings-popup {
  width: 100%;
  z-index: 2;
  position: absolute;
  background-color: rgb(var(--color-background));
  max-width: 36rem;
}

/* Button styles */
.quantity-popover__info .button-close,
.variant-remove-total quick-order-list-remove-all-button .button,
.quick-order-list-total__confirmation
  quick-order-list-remove-all-button
  .button,
quantity-popover quick-order-list-remove-button .button {
  --shadow-opacity: 0;
  --border-opacity: 0;
}

.quantity-popover__info-button {
  display: flex;
  align-items: center;
  margin: 0 var(--space-2) 0 0;
  min-width: 1.5rem;
  min-height: 1.5rem;
  --shadow-opacity: 0;
  --border-opacity: 0;
}

.quantity-popover__info-button--icon-with-label {
  align-items: flex-start;
  text-align: left;
}

.quantity-popover__info-button--icon-with-label svg {
  flex-shrink: 0;
}

.quantity-popover__info-button--open {
  text-decoration: underline;
}

.quantity-popover__info-button span {
  padding-left: var(--space-3);
}

/* Volume pricing */
quantity-popover volume-pricing {
  margin-top: var(--space-4);
  display: block;
}

quantity-popover volume-pricing li {
  font-size: var(--text-size-small);
  letter-spacing: var(--letter-spacing-2);
  padding: var(--space-2) var(--space-3);
  display: flex;
  justify-content: space-between;
}

quantity-popover volume-pricing li:nth-child(odd) {
  background: rgba(var(--color-foreground), 0.03);
}

/* Container styles */
.quantity-popover-container {
  display: flex;
  padding: var(--space-2) var(--space-2) var(--space-2) 0;
}

.quantity-popover-container:not(.quantity-popover-container--hover) {
  align-items: center;
}

/* Media queries */
@media screen and (max-width: 939px) {
  .quantity-popover__info.global-settings-popup {
    left: 0;
  }

  .quantity-popover__info-button {
    padding-left: 0;
  }
}

@media screen and (min-width: 940px) {
  .quantity-popover-container--hover:hover {
    background-color: rgba(var(--color-foreground), 0.03);
    border-radius: var(--inputs-radius-outset);
  }

  .quantity-popover-container--empty {
    margin-right: var(--space-7);
  }

  .quantity-popover__info.global-settings-popup {
    width: 27rem;
    transform: translateY(var(--space-3));
  }

  .quantity-popover-container {
    width: auto;
    max-width: 20rem;
  }
}

/* Focus and hover states */
quantity-popover:has(.quantity__input:focus-visible) .quantity-popover__info {
  display: block;
}

quantity-popover .quantity__rules .divider:nth-child(2)::before {
  content: none;
}
